include README.rst
include LICENSE
include .gitignore
include spec.txt
include commonmark/__init__.py
include commonmark/blocks.py
include commonmark/common.py
include commonmark/dump.py
include commonmark/entitytrans.py
include commonmark/inlines.py
include commonmark/main.py
include commonmark/node.py
include commonmark/utils.py
include commonmark/render/__init__.py
include commonmark/render/renderer.py
include commonmark/render/html.py
include commonmark/tests/run_spec_tests.py
include commonmark/tests/unit_tests.py
include CommonMark
