include README.md
include LICENSE
include .gitignore
include spec.txt
include CommonMark/CommonMark.py
include CommonMark/entitytrans.py
include CommonMark/test/test-CommonMark.py
include docs/CommonMark.py.html
